{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class='parent' ng-controller='Kanban as vm'>
        <!-- <label for='hy'><strong>Angular-specific example.</strong> Fancy some nested <code>ng-repeat</code>?</label> -->
          <div class="task-box" ng-repeat="group in groups" dragula="'nested-bag'" dragula-scope="$parent" >
            <span class="add-task">{{group.name}}</span>
            <div class="task-card" ng-repeat='item in group.items' ng-bind='item.name' data-toggle="modal" data-target="#myModal"></div>
        </div>
      </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}
